---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import AuthorBlock from "../components/AuthorBlock.astro";

import type GAInfo from "../layouts/Layout.astro";
import type Author from "../components/AuthorBlock.astro"
import type Link from "../components/LinkBlock.astro"

const site_title = "Solving Stabilize-Avoid Optimal Control via Epigraph Form and Deep RL";
const title = "Solving Stabilize-Avoid Optimal Control via Epigraph Form and Deep Reinforcement Learning";

const authors: Author[] = [
    {"name": "Oswin So", "url": "https://oswinso.xyz"},
    {"name": "Chuchu Fan", "url": "https://chuchu.mit.edu"}
]

const links: Link[] = [
    // {"name": "Paper", "url": "b", "icon_class": "fas fa-file-pdf"},
    // {"name": "arXiv", "url": "b", "icon_class": "ial icon-arxiv-logo-small"},
    {"name": "Paper", "url": "https://arxiv.org/pdf/2305.14154.pdf", "icon_class": "fas fa-file-pdf"},
    {"name": "arXiv", "url": "https://arxiv.org/abs/2305.14154", "icon_class": "ial icon-arxiv-logo-small"},
    {"name": "Jax F16", "url": "https://github.com/mit-realm/jax-f16", "icon_class": "fab fa-github"},
    {"name": "MIT News", "url": "https://news.mit.edu/2023/safe-and-reliable-autopilots-flying-0612", "icon_class": "fas fa-newspaper"}
    // {"name": "Presentation Video", "url": "b", "icon_class": "fab fa-youtube"},
]

const bibtex = `
@inproceedings{so2023solving,
  title     = {Solving Stabilize-Avoid Optimal Control via Epigraph Form and Deep Reinforcement Learning},
  author    = {So, Oswin and Fan, Chuchu},
  booktitle = {Proceedings of Robotics: Science and Systems},
  year      = {2023}
}
`.trim();

const ga: GAInfo = {"id": "G-XSZ0VNSN4H"};
---

<Layout site_title={site_title} title={title} authors={authors} links={links} bibtex={bibtex} ga={ga}>
    <section class="teaser container is-max-desktop">
        <header>
            <h2>
                <strong>Safe</strong> and <strong>stable</strong> controller synthesis for
                <span class="avoidwrap"><strong>arbitrary dynamics</strong></span>
            </h2>
        </header>
        <div class="teaser-vids">
            <video autoplay muted playsinline loop>
                <source type="video/webm" src=`${import.meta.env.BASE_URL}/media/hopper_seq.webm`/>
                <source type="video/mp4" src=`${import.meta.env.BASE_URL}/media/hopper_seq_h265.mp4`/>
            </video>
            <video autoplay muted playsinline loop>
                <source type="video/webm" src=`${import.meta.env.BASE_URL}/media/f16_seq.webm`/>
                <source type="video/mp4" src=`${import.meta.env.BASE_URL}/media/f16_seq_h265.mp4`/>
            </video>
        </div>
    </section>

    <main>
        <section id="summary" class="container is-max-desktop">
            <header>
                <h2 class="section-title">Stabilize-Avoid with Constrained Optimal Control</h2>
            </header>
            <div class="section-body">
                <figure>
                    <video autoplay muted playsinline loop>
                        <source type="video/webm" src=`${import.meta.env.BASE_URL}/media/anim_pause.webm`/>
                        <source type="video/mp4" src=`${import.meta.env.BASE_URL}/media/anim_pause_h265.mp4`/>
                    </video>
                    <figcaption>Tackling safety using constraints over an infinite horizon allows us to identify the invariant
                        region (<span id="shade-blue">shades of blue</span>) from which we can maintain constraint satisfaction.
                    </figcaption>
                </figure>
                <p>
                    EFPPO synthesizes controllers that are <strong>safe</strong> and <strong>stable</strong> by solving
                    an
                    infinite horizon constrained optimization problem.
                </p>
            </div>
        </section>

        <section id="epigraph-form" class="container is-max-desktop">
            <header>
                <h2 class="section-title">Better Stability with Epigraph Form</h2>
            </header>
            <div class="section-body">
                <p>
                    EFPPO uses the <b>epigraph form</b> to solve the constrained optimization problem, improving
                    optimization
                    stability over classical Lagrangian duality methods. The gradient for (CMDP) Lagrangian
                    duality-based methods scales <u>linearly</u> with \(\lambda\),
                    while the gradient for the epigraph form <u>does not scale</u> with \(z\), which
                    can cause optimization problems when \(\lambda\) grows large.
                </p>
                <figure>
                    <video autoplay muted playsinline loop>
                        <source type="video/webm" src=`${import.meta.env.BASE_URL}/media/comparison.webm`/>
                        <source type="video/mp4" src=`${import.meta.env.BASE_URL}/media/comparison.mp4`/>
                    </video>
                    <figcaption>
                        Varying \(\lambda\) and \(z\) on
                        the same <span id="cost-blue">cost function</span> and
                        <span id="constraint-red">constraint function</span> at a given <span
                            id="pt-yellow">point</span>, the gradient norms (right) of the <span id="obj-purple">objective</span>
                        grow for
                        <span class="lagr-green">Lagrangian duality</span> but not for the <span class="epi-pink">epigraph form</span>.
                    </figcaption>
                </figure>
            </div>
        </section>

        <section id="experiments" class="container is-max-desktop">
            <header>
                <h2 class="section-title">Simulation Experiments</h2>
            </header>
            <div class="section-body">
                <section class="task-section">
                    <h3 class="task-name">Hopper</h3>
                    <dl class="task-summary">
                        <dt class="def-stabilize">Stabilize</dt>
                        <dd>Torso is stable in the <span class="box-green">green box</span></dd>
                        <dt class="def-avoid">Avoid</dt>
                        <dd>Torso touches the <span class="box-red">red box</span></dd>
                    </dl>
                    <video autoplay muted playsinline loop>
                        <source type="video/webm" src=`${import.meta.env.BASE_URL}/media/hopper_compare.webm`/>
                        <source type="video/mp4" src=`${import.meta.env.BASE_URL}/media/hopper_compare_h265.mp4`/>
                    </video>
                </section>

                <section class="task-section">
                    <h3 class="task-name">F16 Fighter Jet</h3>
                    <dl class="task-summary">
                        <dt class="def-stabilize">Stabilize</dt>
                        <dd>Stabilize to the <span class="box-green">green region</span> near the floor</dd>
                        <dt class="def-avoid">Avoid</dt>
                        <dd>Avoid hitting the floor, ceiling or walls. Avoid extreme angles of attack.</dd>
                    </dl>
                    <video autoplay muted playsinline loop>
                        <source type="video/webm" src=`${import.meta.env.BASE_URL}/media/f16_compare.webm`/>
                        <source type="video/mp4" src=`${import.meta.env.BASE_URL}/media/f16_compare_h265.mp4`/>
                    </video>
                </section>
            </div>
        </section>

        {/*<section class="section">
        <div class="container is-max-desktop">
            <div class="content">
                <h2 class="title is-4">Simulation Experiments</h2>
                <h3 class="title is-5">Hopper</h3>
                MP4
                <h3 class="title is-5">F16</h3>
                MP4
            </div>
        </div>
    </section>*/}

        <section id="abstract" class="container is-max-desktop">
            <header>
                <h2 class="section-title">Abstract</h2>
            </header>
            <div class="section-body has-text-justified">
                <p>
                    Tasks for autonomous robotic systems commonly require stabilization to a desired region while
                    maintaining safety specifications. However, solving this multi-objective problem is challenging when
                    the dynamics are nonlinear and high-dimensional, as traditional methods do not scale well and are
                    often limited to specific problem structures.
                </p>
                <p>
                    To address this issue, we propose a novel approach to solve the stabilize-avoid problem via the
                    solution of an infinite-horizon constrained optimal control problem (OCP).
                    We transform the constrained OCP into epigraph form and obtain a two-stage optimization problem that
                    optimizes over the policy in the inner problem and over an auxiliary variable in the outer problem.
                    We then propose a new method for this formulation that combines an on-policy deep reinforcement
                    learning algorithm with neural network regression.
                    Our method yields better stability during training, avoids instabilities caused by saddle-point
                    finding, and is not restricted to specific requirements on the problem structure compared to more
                    traditional methods.
                    We validate our approach on different benchmark tasks, ranging from low-dimensional toy examples to
                    an F16 fighter jet with a 17-dimensional state space.
                    Simulation results show that <strong>our approach consistently yields controllers that match or
                    exceed the safety of existing methods while providing ten-fold increases in stability performance
                    from larger regions of attraction.</strong>
                </p>
            </div>
        </section>
    </main>


</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 3rem 0;
        padding: 0 1.25rem;
    }

    main > section.container {
        width: 100%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .section-body {
        display: flex;
        align-items: center;
        row-gap: 0.8em;
        column-gap: 1em;

        font-size: 1.2em;
    }

    .teaser {
        font-family: "Google Sans", sans-serif;
        display: flex;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap;
    }

    .teaser > header {
        padding: 0 1.25rem;
    }

    #summary > .section-body {
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column-reverse;
    }

    #epigraph-form > .section-body {
        flex-direction: column;
    }

    #experiments > .section-body {
        flex-direction: column;
        row-gap: 1.5em;
        margin: 0 -1rem;
    }

    #abstract > .section-body {
        flex-direction: column;
        row-gap: 1.1em;
    }


    @media screen and (min-width: 1024px) {
        .teaser {
            flex-wrap: nowrap;
        }

        .teaser > header {
            padding: 0 0;
        }

        #summary > .section-body {
            flex-wrap: nowrap;
            flex-direction: row;
        }

        main {
            padding: 0 0;
        }
    }

    .teaser > header {
        text-align: center;
        font-size: 1.7rem;
        flex: 1 4 auto;
    }

    .teaser > .teaser-vids {
        flex: 1 6 auto;
        display: flex;
        max-width: 100%;
    }

    video {
        min-width: 5%;
    }


    #summary > .section-body > video {
        flex: 1 1 auto;
        max-height: 80vh;
    }

    h2, h3 {
        color: #363636;
    }

    section {
        font-family: "Open Sans", sans-serif;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        border: 0;
    }

    .avoidwrap {
        display: inline-block;
    }

    #unicycle-vid-col {
        width: 100.0%
    }

    #unicycle-txt-col {
        width: 100.0%;
    }

    .section-title {
        font-weight: 600;
        line-height: 1.125;

        font-size: 1.6rem;
    }

    .task-name {
        font-weight: 600;
        font-size: 1.4rem;
        text-align: center;
    }

    .section-title:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    @media screen and (min-width: 1280px) {
        .short-tag {
            font-size: 2rem;
        }

        .section-title {
            font-size: 1.75rem;
        }

        .section-title:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        #unicycle-vid-col {
            width: 40.0%
        }

        #unicycle-txt-col {
            width: 60.0%;
        }
    }

    @media screen and (min-width: 2000px) {
        #unicycle-vid-col {
            width: 50%;
        }

        #unicycle-txt-col {
            width: 50%;
        }
    }

    u {
        text-decoration: none;
        border-bottom: 1px solid #444444;
    }

    #abstract > .section-body > p {
        font-size: 0.9rem;
    }

    @media screen and (min-width: 1024px) {
        #abstract > .section-body > p {
            font-size: 0.95em;
        }
    }

    figcaption {
        font-size: 0.8em;
    }

    #shade-blue {
        background-color: #E0F7FA;
        color: #167783;
        padding: 0.2em 0.3em;
    }

    #cost-blue {
        color: #348ABD;
        font-weight: 600;
    }

    #constraint-red {
        color: #E24A33;
        font-weight: 600;
    }

    #pt-yellow {
        color: #FBC15E;
        font-weight: 600;
    }

    #obj-purple {
        color: #988ED5;
        font-weight: 600;
    }

    .lagr-green {
        color: #8EBA42;
        font-weight: 600;
    }

    .epi-pink {
        color: #FFB5B8;
        font-weight: 600;
    }

    .box-green, .box-red {
        padding: 0.1em 0.25em;
    }

    .box-green {
        background-color: #E8F5E9;
        color: #3D8840;
    }

    .box-red {
        background-color: #FFEBEE;
        color: #AE2020;
    }

    dl.task-summary {
        display: grid;
        grid-template-columns: min-content auto;
        margin: 0 auto 0.4em;
        grid-column-gap: 1em;
        align-items: center;
    }

    .def-stabilize {
        color: hsl(122 58% 20%);
    }

    .def-avoid {
        color: hsl(0 89% 20%);
    }

    @media screen and (min-width: 1024px) {
        dl.task-summary {
            max-width: 80%;
        }
    }

    dt {
        grid-column: 1;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }

    dd {
        grid-column: 2;
    }

    dt, dd {
        display: table-cell;
        margin: 0;
        padding: .5em .5em;
    }
</style>
