---
import AuthorBlock from "../components/AuthorBlock.astro"
import LinkBlock from "../components/LinkBlock.astro"
import { Code } from 'astro/components'
import "../styles/arxiv_icons.css"

import type Author from "../components/AuthorBlock.astro"
import type Link from "../components/LinkBlock.astro"

export type GAInfo = {
	id: string;
}
export interface Props {
	site_title: string;
	title: string;
	authors: Author[];
	links: Link[];
	bibtex: string;
	ga: GAInfo;
}

const { site_title, title, authors, links , bibtex, ga} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}/images/favicon.svg` />
		<link rel="icon" type="image/png" href=`${import.meta.env.BASE_URL}/images/favicon.png` />
		<title>{site_title}</title>
		<link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Open+Sans:300,500,600,700|Castoro" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" href=`${import.meta.env.BASE_URL}/styles/fontawesome.all.min.css`>
		{/*<link rel="stylesheet" href=`${import.meta.env.BASE_URL}/styles/arxiv_icons.css`>*/}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
		<script defer src=`${import.meta.env.BASE_URL}/styles/fontawesome.all.min.js`></script>

		<script async src={`https://www.googletagmanager.com/gtag/js?id=${ga.id}`}></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', ga.id);
		</script>
	</head>
	<body>
		<section class="hero">
			<div class="container is-max-desktop has-text-centered">
				<h1 class="publication-title">{title}</h1>
				<AuthorBlock authors={authors} />
				<div class="column has-text-centered">
					<LinkBlock links={links} />
				</div>
			</div>
		</section>
		<slot />
		<section class="section">
			<div class="container is-max-desktop content">
				<h2 id="bibtex-title" class="title">BibTeX</h2>
				<Code code={bibtex} lang="bibtex" theme="github-light" wrap />
			</div>
		</section>
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #FFFFFF;
	}

	.hero {
		padding: 1.5rem 1.5rem;
	}
	@media screen and (min-width: 1280px) {
		.hero {
			padding: 3rem 1.5rem;
		}
	}

	.publication-title {
		font-family: "Google Sans", sans-serif;
		margin-bottom: 1.5rem;
		color: #363636;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.125;
	}

	@media screen and (min-width: 1280px) {
		.publication-title {
			font-size: 2.5rem;
			line-height: 1.2;
		}
	}

	#bibtex-title {
		margin-bottom: 0;
	}
</style>
